<section id="about">
    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
        <div class="content" itemprop="articleBody">
            <% if (site.data.about?.enabled && site.data.about.details) { %> 
                <%- partial('_partial/about/about', { section: site.data.about.details }) %>
            <% } %>
        </div>
    </article>
</section>