#contact
  display: flex
  flex-flow: column
  align-content: center
  align-items: center
  background: $color-accent-1
  height: 100%
  padding: 1em
  border-radius: 30px
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2)
