#projects
  .project-list-title
    color: $color-meta

  .project-list
    .project-list-item
      .project-list-count
        color: $color-meta

      .project-list-count:before
        content: " ("

      .project-list-count:after
        content: ")"
